
/* same as .submit-row in normal admin */
.custom-changelist-bar {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;

}
a.allocatelink {
    color: #fff;
}

p.allocation-cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: #333;
    margin: 0 0 0 10px;
}

p.allocation-cancel-link:hover {
    background: #ccc;
    cursor: pointer;
}

p.allocation-cancel-link a {
    color: #000;
}
p.allocation-cancel-link a:hover {
    color: #000;
}
