$theme-green: #006838;
$theme-green-medium: #66a588;
$theme-green-light: #cbe0d6;
$theme-green-lighter: #e6f0ec;
$theme-blue: #2a317d;
$theme-light-blue: #3eb3e4;
$theme-orange: #f8941e;
$theme-pink: #de326c;
$theme-yellow: #fbdc00;
$theme-purple: #965096;
$theme-purple-lighter: #e3d0e3;

$theme-colors: (
  "primary": $theme-purple,
  "primary-lighter": $theme-purple-lighter,
  "secondary": $theme-green,
  "success": $theme-green,
  "secondary-medium": $theme-green-medium,
  "secondary-light": $theme-green-light,
  "secondary-lighter": $theme-green-lighter,
  "danger": $theme-orange,
  "warning": $theme-yellow,
  "info": $theme-blue,
  "default": #ddd,
);

.text-black {
  color: black;
}

$container-max-widths: (
  // Disabling smallest, to instead have full-width container.
  //sm: 540px,
  //md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$alert-bg-level: 0;

.alert {
  &.alert-danger {
    color: black;
  }
  &.alert-secondary, &.alert-success, &.alert-info {
    color: white;
  }
}

.line-height-lg {
  line-height: 2;
}

$enable-rounded: false;
$link-color: $theme-green;

/* Table style customization */
$table-border-width: 0px;

$table-head-bg: map-get($theme-colors, "secondary-medium");
$table-head-color: white;

$table-bg: map-get($theme-colors, "secondary-lighter");
$table-accent-bg: map-get($theme-colors, "secondary-light");

.table th, .table td {
  border-left: 1.5px solid white;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

$outer-border-style: 1.5px solid #231f20;

body {
  font-family: 'Roboto', sans-serif;
  h1, h2, h3, h4, h5 {
    font-weight:bold;
  }
  h1, h2, h3, .nav, .serif-font {
    font-family: 'Rokkitt', serif;
  }
  h1, h2, h3, {
    color: theme-color(secondary);
  }
  h4, h5 {
    font-size: 1rem;
    color: $gray-900;
  }
  .sans-font {
    font-family: 'Roboto', sans-serif;
  }
  overflow-y: scroll;
}

.clickable {
  cursor: pointer;
}

.modal-backdrop {
  background-color: white;
}

.modal-dialog.singleton-modal {
  max-width: 650px;
  margin-top: 6rem;
  .modal-content {
    border: 1.5px solid theme-color(primary);
  }
  .modal-header {
    background-color: theme-color(primary);
    padding: 0.5rem 1rem;
    .modal-title {
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .modal-buttons {
    padding: 0;
    position: relative;
    .button-wrapper {
      position: absolute;
      top: 0;
      right: -1.5px; // counteract parent border width
      border: 1.5px solid theme-color(primary);
      background-color: white;
      padding: 5px;
      button {
        font-weight: bold;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

}

.blocky-form {
  .form-group {
    background-color: theme-color(secondary-light);
    border: 1.5px solid theme-color(secondary-light);
    label {
      padding: 0.5rem;
      font-weight: bold;
      margin-bottom: 0px;
      width: 100%;
    }
    .alert.alert-danger {
      /* An alert here is amost always a validation error */
      margin-bottom: 0px;
    }
  }
}

.btn-decorated {
  min-width: 10em;
  @each $color, $value in $theme-colors {
    &.btn-#{$color} {
      outline: $value solid 2px;
      border: 2px solid color-yiq($value);
      font-weight: bold;
      color: color-yiq($value);
    }
  }
  // For .danger we want nice white despite black being slightly higher contrast
  &.btn-danger {
    color: white;
    border: 2px solid white;
  }
}

.btn-decorated-inverse {
  min-width: 10em;
  @each $color, $value in $theme-colors {
    &.btn-#{$color} {
      outline: white solid 2px;
      border: 2px solid $value;
      font-weight: bold;
      color: $value;
      background-color: white;
    }
  }
}

.hide-overflow {
  overflow: hidden;
}

.popup-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999999999;
  .card {
    border: 3px solid theme-color(secondary);
    &.important {
      border-color: theme-color(primary);
    }
    animation: 0.7s ease-in-out 0s 1 pop;
    width: 300px;
    margin-top: 1rem;
    .card-body {
      padding: 1rem;
    }
    .footer {
      color: #5e5e5e;
    }
    .close {
      line-height: 8px;
      padding: 0 5px;
      margin-right: -8px;
    }

    @keyframes pop {
      from { transform: scale(1); }
      50% { transform: scale(1.2); }
      to { transform: scale(1); }
    }
  }
}

.header-wrapper {
  border-bottom: $outer-border-style;
  padding-bottom: 8px;
  padding-top: 15px;
  .header-logo {
    border-right: $outer-border-style;
  }
  .header-job {
    padding-left: 30px;
    display: flex;
    .team-logo {
      width: 80px;
      margin-top: auto;
      margin-bottom: auto;
    }
    .self-text {
      margin-left: 15px;
      margin-top: auto;
      margin-bottom: auto;
      h3 {
        margin-bottom: 0px;
      }
      .team-name {
        color: $gray-900;
      }
      .job-name {
        text-transform: capitalize;
      }
    }

  }
  .header-info {
    @include media-breakpoint-up(lg) {
      border-right: $outer-border-style;
      padding-right: 30px;
    }
  }
}

.pre-game-box {
  .col-sm-5 {
    border: 2px solid theme-color(secondary);
    .alert.countdown {
      margin: 0 -15px 15px -15px;
    }
  }
}

.main-wrapper{
  padding-top: 30px;
}

.main {
  padding-left: 30px;
  padding-bottom: 45px;
  
  @include media-breakpoint-up(lg) {
    border-right: $outer-border-style;
    padding-right: 30px;
  }
  .nav.main-nav {
    margin-bottom: 30px;
    .nav-link {
      font-weight: bold;
      font-size: 20px;
      padding: 5px 10px;
      color: color-yiq(theme-color(secondary));
      background-color: theme-color(secondary);
    }
    .nav-link.active, .active .dropdown-toggle {
      background-color: theme-color(primary);
    }
    .nav-item:not(:last-child) {
      border-right: 3px solid white;
    }
    .dropdown-menu {
      background-color: transparent;
      width: 100%;
      border: none;
      padding: 0;
      margin-top: 0;
      .dropdown-item  {
        background-color: theme-color(secondary-lighter);
        color: theme-color(secondary);
        margin-top: 3px;
        font-weight: bold;
        text-align: center;
        &.active {
          color: theme-color(primary);
          background-color: theme-color(primary-lighter);
        }
      }
    }
  }
}

.sidebar-wrapper {
  background-color: theme-color(secondary-lighter);
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  max-height: 100vh;
}

.sidebar {
  .nav-circles {
    background-color: theme-color(secondary-lighter);
    border-bottom: 3px solid theme-color(secondary);
    padding: $grid-gutter-width / 2;
    margin: 0 (-$grid-gutter-width / 2);
    margin: 0 (-$grid-gutter-width / 2);
    .circle {
      cursor: pointer;
      display: inline-block;
      width: 33%;
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
      img {
        // Transparent border makes inactive element same size as with border
        border: 1px solid transparent;
        //margin: 4px;
        border-radius: 50%;
        height: 49px;
      }
    }
    .circle.active img {
      border-color: white;
      box-shadow: 0 0 0 4px theme-color(primary);
    }
  }
  .newsfeed {
    .news-item {
      margin-top: 2rem;
      a:visited {
        color: $body-color;
      }
      .breaking {
        background-color: $theme-yellow;
        color: black;
        padding: 0px 3px;
        font-weight: bold;
        text-transform: uppercase;
      }
      img {
        float: left;
        height: 3em;
        margin-right: 7px;
      }
      p {
        hyphens: auto;
      }
    }
  }
  .infobar {
    .choose-team {
      .col-sm-4 {
        margin-bottom: 15px;
      }
      &.media img {
        border-radius: 5%;
      }
      &.lobbyists img {
        border-radius: 50%;
      }
      &.parliament-groups {
        img {
        border-radius: 50%;
        }
        //.col-sm-4::before {
          //content: "";
          //position: absolute;
          //border-width: 3px;
          //border-style: solid;
          //border-color: theme-color(primary);
          //height: 100%;
          //width: 16px;
          ////transform: rotate(-45deg) skew(7deg, 7deg);
        //}
      }
      img.active {
        border: 1px solid white;
        box-shadow: 0 0 0 4px #965096;
      }
    }

    .topic-list {
      margin: 0 (-$grid-gutter-width / 2);
      margin-bottom: 1.5rem;
      .list-group-item {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-family: 'Rokkitt', serif;
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-bottom: 1.5px solid theme-color(secondary);
        &:not(.active) {
          background-color: transparent;
          color: theme-color(secondary);
        }
      }
    }
  }

  .calendar-bar {
    .entry {
      &.past {
        opacity: 0.6;
      }
    }
    // Select all not in the past
    .entry:not(.past) {
      color: inherit;
      background-color: theme-color(primary-lighter);
      margin: 0 -15px;
      padding: 5px 15px;
    }
    // Revert styling for all but the first not in the past
    .entry:not(.past) ~ .entry:not(.past) {
      color: inherit;
      background-color: inherit;
      margin: inherit;
      padding: inherit;
    }
  }
}

.news-reader {
  .breaking {
    background-color: $theme-yellow;
    padding: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .lead-text {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: $gray-700;
    .opinion {
      color: theme-color(info);
    }
  }
  .byline {
    margin-bottom: 1.5rem;
    color: $gray-700;
    $border-style: 2px solid theme-color(info);
    border-top: $border-style;
    border-bottom: $border-style;
    img {
      height: 3em;
      margin: 7px;
      margin-left: 0;
    }
    .media-body {
      margin-bottom: auto;
      margin-top: auto;
    }
    .writer {
      float: left;
    }
    .time {
      float: right;
      text-align: right;
    }
  }
  .news-reaction {
    padding: 0.75rem;
    background-color: theme-color(secondary);
    color: white;
    text-align: center;
    font-weight: bold;
    button {
      font-weight: bold;
      margin-left: 1.5rem;
      min-width: 5rem;
      &.selected {
        background-color: theme-color(secondary);
        color: white;
      }
    }
  }
}

.transfer-influence {
  // Override Bootstrap gutter width to 1px
  $local-gutter: 1px;
  .transfer-ip-form {
    .row {
      margin-left: -$local-gutter;
      margin-right: -$local-gutter;
    }
    div.col-4, div.col-6, div.col-12 {
      padding: $local-gutter;
    }
    .chooser {
      background-color: theme-color(secondary-light);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      margin-top: 15px;
    }
    .team-button {
      button {
        &.btn-secondary {
          color: color-yiq(theme-color(secondary-light));
          background-color: theme-color(secondary-light);
        }
        border: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.indicate-directive {
  &.locked .indicate-chooser button.selected {
    $disabled-color: #838383;
    background-color: $disabled-color !important;

    &::before, &::after {
      background-image: linear-gradient(45deg, $disabled-color 14px, transparent 14px) !important;
    }
  }
  .btn.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .move-horizontal-wrapper {
    position: relative;
  }
  .move-horizontal {
    background-color: white;
    color: theme-color(primary);
    border: 3px solid theme-color(primary);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: large;
    position: absolute;
    top: 40px;
    box-shadow: 0 0 0 3px white;
    z-index: 10;
    &::before {
      /* This element is the arrow inside the button */
      content: "";
      border-width: 3px 0 0 3px;
      border-style: solid;
      border-color: theme-color(primary);
      height: 16px;
      width: 16px;
      margin-top: 7px;
      margin-left: 4px;
      display: inline-block;
      transform: rotate(-45deg) skew(7deg, 7deg);
    }
    &:last-child {
      right: 0px;
      transform: rotate(180deg);
    }
  }
  .directive-article {
    border-bottom: 3px solid theme-color(info);
    margin-bottom: 40px;
    .indicate-chooser {
      background-color: theme-color(info);
      padding: 3px;
      text-align: center;
      button {
        min-width: 65px;
        padding: 0px 8px;
        position:relative;
        margin-right: 3px;
        color: theme-color(info);
        background-color: white;
        border: 2px solid white;
        font-weight: bold;
        &.selected {
          background-color: theme-color(info);
          color: white;
          &:first-child::before, &:last-child::after {
            background-image: linear-gradient(45deg, theme-color(info) 14px, transparent 14px);
          }
        }
        @mixin pointy-edge($rotation) {
          content: "";
          // button has height 28, this should be 28/sqrt(2) =~ 19.8 to match
          width: 19.8px;
          height: 19.8px;
          display: block;
          position: absolute;
          top: 2px;
          // Perspective fixes buggy edge between border and background-image when rotating
          transform: perspective(999px) rotate($rotation);
          background-image: linear-gradient(45deg, white 14px, transparent 14px);
          border: 2px solid white;
          border-width: 0 0 2px 2px;
        }
        &:first-child::before {
          left: -12px;
          @include pointy-edge(45deg);
        }
        &:last-child::after {
          right: -12px;
          @include pointy-edge(225deg);
        }

      }
    }
  }
  .article-items {
    // Counteract padding on list elements
    margin-left: -19px;
    margin-right: -19px;
    min-height: 85px;

    transition: height 0.3s ease-out 0s;

    .list-group-item {
      // Why does just setting width not work? :(
      min-width: 33.33333%;
      max-width: 33.33333%;
      // Margin-left is set in JS
      transition: margin-left 0.3s ease-out 0s;
      hyphens: auto;
      border: none;
      transition: background-color 0.3s ease-in-out;
      background-color: transparent;

      &.list-group-item-action {
        cursor: pointer;
      }

      &.selected {
        font-weight: bold;
        color: theme-color(info);
        background-color: #96509629;
      }
    }
  }
  .print-button {
    margin-bottom: 15px;
  }
}

.invest-ip {
  form {
    .form-group {
      background-color: theme-color(secondary-light);
      padding: 5px;
      margin-left: 0px;
      margin-right: 0px;
      label  {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

.calendar-entry {
  .agenda {
    background-color: $theme-green-light; 
    padding: 2%;
  }  
  .table {
    margin-left: -7px;
    width: 50%;
    background-color: $theme-green-light; 
    tr {
      border: 5px solid white;
    }
    td { 
      border: 0px;
      vertical-align: middle; 
      padding-top: 10px;
      padding-bottom: 0px;
    }
    .td-right {
      float: right;
      h2 {
        font-weight: normal;
      }
    }  
  }
}

.team-info {
  h4 {
    margin-top:
    1.5rem;
  }
  .team-priority-list {
    padding-left: 0;
    li {
      font-weight: bold;
      color: theme-color(info);
      list-style-type: none;
    }
  }
  .transaction-table {
    .show-all  {
      cursor: pointer;
      font-weight: bold;
      &:hover {
        background-color: theme-color(secondary-medium);
        color: white;
      }
    }
  }
}

.research {
  .nav {
    .nav-link {
      background-color: theme-color(secondary-medium);
      color: color-yiq(theme-color(secondary-medium));
      cursor: pointer;
      font-weight: bold;
      &.active {
        background-color: theme-color(primary);
      }
    }
  }
  .tab-pane {
    margin-bottom: 15px;
    .row {
      margin-left: -1px;
      margin-right: -1px;
      .col-sm-4 {
        padding: 1px;
      }
    }
    .btn {
      background-color: theme-color(secondary-light);
      color: $gray-900;
      border: none;
      width: 100%;
      height: 100%;
      &.active {
        background-color: theme-color(primary);
      }
    }
  }
}

.job-description {
  .job-video {
    border: none;
    width: 100%;
    height: 365px; // Smaller than xl height
    @include media-breakpoint-up(xl) {
      height: 442px; // Matches slightly wider column for xl
    }
  }
}

.my-staff {
  position:relative;
  .row {
    margin-bottom: 60px;
  }
  .primary .staff-role {
    .header {
      background-color: theme-color(primary-lighter);
    }
    .content {
      background-color: theme-color(primary);
    }
  }
  .staff-role {
    .header {
      padding: 15px;
      background-color: theme-color(secondary-light);
      h5 {
        margin-bottom: 0;
      }
    }
    .content {
      padding: 15px;
      background-color: theme-color(secondary-medium);
      color: white;
      table {
        width: 100%;
      }
    }
  }
}

.write-memo {
  .blocky-card {
    border: none;
    margin-bottom: 1.5rem;
    & > * {
      padding: 0.5rem;
    }
    h5 {
      background-color: theme-color(secondary-medium);
      color: white;
      margin-bottom: 0;
      cursor: pointer;
    }
    .info {
      background-color: theme-color(secondary-light);
      cursor: pointer;
      .time {
        margin-right: 1.5rem;
      }
    }
    .content {
      border: 1.5px solid theme-color(secondary-medium);
      border-top: none;
      p {
        margin-bottom: 0;
      }
    }
    &:not(.active) .content {
      display: none;
    }
  }
}

.teacher-team-info {
  thead {
    background-color: theme-color(secondary-medium);
    color: white;
    font-weight: bold;
  }
  @media screen and (min-width: 992px) {
    .student-list {
      column-count: 2;
    }
  }
}

.teacher-final-vote {
  .progress {
    height: 2rem;
    .progress-bar {
      font-weight: bold;
      &.bg-warning, &.bg-default {
        color: black;
      }
    }
  }
}

.majority-calculator {
  h4 {
    font-size: 1rem;
    color: theme-color(secondary);
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid theme-color(secondary); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    padding-top: 1.5rem;
    & span {
      background: #fff; 
      padding: 1.5rem; }
  }
  
  button {
    background-color: $theme-green-light;
    color: black;
    border: 1px solid white;
    width: 100%;
    height: 100%;  
    &.active {
      background-color: $theme-purple ;
      color: white;
      border: 1px solid white ;
    }
  }

  .row {
    margin-left: -2px;
    margin-right: -2px;
  }

  .col-sm-4 {
    padding: 0px;
  }

  .count {
    float: right;
    width: 4rem;
    text-align: center;
    &.minority {
      border: 3px solid $gray-600;
    }
    &.majority {
      border: 3px solid theme-color("danger");
    }
  }

  .result {
    color: white;
    height: 100%;
    text-align: center;
    &.minority {
      background-color: $gray-600;
    }
    &.majority {
      background-color: theme-color("danger");
    }
  }

  .table {
    margin-top: 2rem;
    background-color: $gray-300; 
    tr {
      border: 2px solid white;
    }
    td { 
      vertical-align: middle; 
      padding-top: 3px;
      padding-bottom: 0px;
    }  
  }
}

.teacher-calendar {
  button {
    margin-bottom: 1.5rem;
  }
  .calendar-entry {
    border: 2px solid white;
    background-color: theme-color("secondary-lighter");
    padding: 1rem;
    padding-bottom: 0.5rem;
  }
  .time {
    float: left;
  }
  .room-name {
    float:right;
  }
  .meeting-title {
    width: 100%;
    border-bottom: 1px solid theme-color("secondary");
    margin-bottom: 1.5rem;
    overflow: hidden;
  }
  .description {
    float:left;
    width: 50%;
    padding-right: 1rem;
  }
  .description-wrapper {
    overflow: hidden;
  }
}

@media print {
  @page {
    size: auto;
  }
  p {
    font-size: small;
  }
  h3 {
    font-size: larger;
  }
  button, .nav, .sidebar, .infobar, .header-wrapper, .header-info, .newsfeed, .calendar-bar, .sidebar-wrapper,  {
    visibility: hidden;
    display: none;
  }
  .teacher-calendar {
    .calendar-entry {
      page-break-inside: avoid;
    }
  }
  .indicate-directive {
    .description {
      visibility: hidden;
      display: inline;
    }
    .directive-article {
      page-break-inside: avoid;
    }
    .list-group-item {
      &.list-group-item-action {
        visibility: hidden;
      }
      &.selected {
        visibility: visible;
        p {
          color: black;
          font-weight: normal;
        }
      }
    }
  }
}
  
