<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as current_language %}
<html lang="{{ current_language }}">
<head>
  <!-- All the favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#006838">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <!-- End of favicons -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rokkitt" rel="stylesheet">
  <script type="text/javascript" src="{% url 'js-i18n-catalog' %}"></script>
  <script type="text/javascript">
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    // These variables MUST NOT change without reloading page, since the
    // js-i18n catalog must be reloaded
    document.currentLanguage = "{{ current_language }}";
    document.availableLanguages = {
      {% for language in languages %}
        "{{ language.code }}": "{{ language.name_local}}",
      {% endfor %}
    };
  </script>
  <title>Europe Alive</title>
</head>
<body>
  <div id="index"></div>
  <script src="{% static "index.js" %}"></script>
</body>
</html>
