{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "game/style/admin.css" %}">
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Allocation' %}
</div>
{% endblock %}

{% block content %}
<div id="content">
    <h1>{% trans "Are you sure?" %}</h1>
    <p>{% blocktrans %}Allocate {{ room_count }} rooms to {{ team_count }} teams?{% endblocktrans %}</p>
    {% if allocation_exists %}
    <p>{% blocktrans %}This will override existing allocation.{% endblocktrans %}</p>
    {% endif %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Confirm" %}">
        <p class="allocation-cancel-link"><a href="{% url opts|admin_urlname:'changelist' %}">Don't do it!</a>
    </form>
</div>
{% endblock %}
