{% extends 'admin/change_list.html' %}

{% block object-tools %}
    {{ block.super }}
    <form
        action="upload-csv/" method="post"
                             enctype="multipart/form-data"
                             style="display: inline-block;">
        {% csrf_token %}
        {{ csv_upload_form }}
        <input type="submit" value="Upload">
    </form>

    <form
        action="{% url 'admin:export_job_assignments' %}"
        method="get" accept-charset="utf-8"
                     style="float: right; display: inline-block;">
        <input type='submit' value="Download job assignments">
    </form>

    <hr style='margin: 5px;'>

{% endblock %}
