
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    body {
      margin:40px auto;
      max-width: 650px;
      line-height:1.6;
      font-size:18px;
      color:#444;
      padding:0 10px
    }
    h1,h2,h3{
      line-height:1.2
    }
  </style>
</head>
<body>
  <h1>Job templates</h1>
  <table>
    <tbody>
      {% for template in templates %}
        <tr>
          <td>
            {{ forloop.counter }}
          </td>
          <td>
            {{ template.job }}
          </td>
          <td>
            {{ template.country|default:"" }}
            {{ template.parliament_group|default:"" }}
            {{ template.media_house|default:"" }}
            {{ template.commission|default:"" }}
            {{ template.lobby_organization|default:"" }}
          </td>
          <td>
            {{ template.id }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </tbody>
</body>
</html>
